<?xml version="1.0" encoding="utf-8" ?>
<configuration>




	<add name="SuMuebleDB" providerName="System.Data.SqlClient"
			 connectionString="Server=tcp:su-mueble-server.database.windows.net,1433;Initial Catalog=SuMuebleDB;Persist Security Info=False;User ID=adminSuMueble;Password=desarrollo de Software 09;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	
	

</configuration>