<?xml version="1.0" encoding="utf-8" ?>
<configuration>




	<connectionStrings>
		<add name="roberto" providerName="System.Data.SqlClient"
			 connectionString="Server=localhost\SQLEXPRESS;Database=SuMuebleDB;Trusted_Connection=True;"/>
		<add name="keren" providerName="System.Data.SqlClient"
			 connectionString="Server=DESKTOP-22PLCQ8;Database=SuMuebleDB;Trusted_Connection=True;"/>
	    <add name="Dorian" providerName="System.Data.SqlClient"
			 connectionString="Server=DESKTOP-19P2GJQ;Database=SuMuebleDB;Trusted_Connection=True;"/>
	</connectionStrings>
	
	

</configuration>